<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/add-blog">Add Blog</a>
            </li>
            <li class="nav-item ">
            <li class="nav-item dropdown open" style="padding-left: 1300px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                   data-toggle="dropdown" aria-expanded="false">
                    <img src="/image/<%=user.avatar%>" alt="" height="50px" width="50px">
                    <%=user.name%>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding-left: 1300px">
                    <a class="dropdown-item" href="/user/info">Info</a>
                    <a class="dropdown-item" href="/user/my-blog">My Blog</a>
                    <a class="dropdown-item" href="/auth/change-password">Change Password</a>
                    <a class="dropdown-item" href="/auth/logout">Log Out</a>
                </div>
            </li>
            </li>
        </ul>
    </div>
</nav>